body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: var(--theme) !important;
}

h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

p {
    margin-bottom: 1em;
}

div.entry-content a:hover {
    text-decoration: underline;
}

div.entry-content a.badgelink {
    border: 1px solid var(--tertiary);
    padding: 4px;
    align-items: center;
    border-radius: 4px;
}

div.entry-content a.badgelink img {
    display: inline-flex;
    height: auto;
    margin-right: 4px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

div.flex-container div.flex-item {
    flex: 1 1 300px; /* Responsive width */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ccc;
}

div.flex-container div.flex-item div.exit span {
    border: 1px solid;
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
}

div.flex-container div.flex-item div.exit {
    margin-top: 30px;
}

div.investment div.investment-logo {
    width: 100%;
}

div.investment div.investment-logo img {
    width: 60px;
    margin: auto;    
}
