{{ define "partials/badgelink.html" }}
<a href="{{ .url }}" target="_blank" class="badgelink"><img alt="Logo for {{ .name }}" src="/logos/{{ .logo }}" width='14' height='14' />{{ .name }}</a>
{{ end }}

<article class="first-entry home-info">
    <header class="entry-header">
        <h1>It's Muller Time</h1>
    </header>
    <div class="entry-content">
      <p>
        My name is Brian Muller, and I'm an operator, investor, and founder with two exits.
      </p>
      <p>
        💻 Most recently, I was the CTO and Co-founder of
        {{ partial "badgelink.html" (dict "url" "https://parallelmarkets.com" "logo" "parallel.png" "name" "Parallel Markets") }}
        which provided portable investor identity and accreditation services to make investing online easier. Parallel Markets was
        <a target='_blank' href='https://www.businesswire.com/news/home/20250115839401/en/iCapital%C2%AE-to-Acquire-Parallel-Markets-to-Streamline-Digital-Identity-Investment-Onboarding-and-Compliance-Verification'>acquired by iCapital</a>
        in early 2025.
      </p>
      <p>
        📰 Before that, I was the VP of Data and Growth at the magazine
        {{ partial "badgelink.html" (dict "url" "https://theatlantic.com" "logo" "atlantic.jpg" "name" "The Atlantic") }}, and prior to that I was the Director of Data Science at
        {{ partial "badgelink.html" (dict "url" "https://voxmedia.com" "logo" "vox.jpg" "name" "Vox Media") }}.
        At both publications I founded, grew, and led the Data Science and Data Infrastructure teams.
      </p>
      <p>
        📈 Before that, I was CTO and Co-founder of
        {{ partial "badgelink.html" (dict "url" "https://www.crunchbase.com/organization/opbandit" "logo" "opbandit.jpg" "name" "OpBandit") }}, which optimized content on major publishers'
        sites across 7 countries.
        OpBandit was <a target='_blank' href='http://www.ft.com/intl/cms/s/0/fa3f68a0-d957-11e4-a8f1-00144feab7de.html'>acquired by Vox Media</a> in April of 2015.
      </p>
      <p>
        🎟️  Prior to that, I ran the Data Science, Data Products, and Data Infrastructure teams at
        <br />
        {{ partial "badgelink.html" (dict "url" "https://livingsocial.com" "logo" "livingsocial.jpg" "name" "LivingSocial") }} in Washington, DC.
      </p>
      <p>
        🇺🇸 Before that I worked as the the Web Director for
        {{ partial "badgelink.html" (dict "url" "https://foreignpolicy.com" "logo" "foreignpolicy.jpg" "name" "Foreign Policy Magazine") }} in Washington, DC.
      </p>
      <p>
        🔬 Prior to that I was a research assistant in the
        {{ partial "badgelink.html" (dict "url" "https://ccb.jhu.edu" "logo" "genomics.jpg" "name" "Center for Computational Genomics") }} at
        {{ partial "badgelink.html" (dict "url" "https://www.jhu.edu" "logo" "jhu.png" "name" "Johns Hopkins") }} in Baltimore, MD.
      </p>

      <p>
        🎓 Before that I was a graduate student at the
        {{ partial "badgelink.html" (dict "url" "https://musc.edu" "logo" "musc.jpg" "name" "Medical University of South Carolina") }} in Charleston, SC
        where I received a MS degree in <a target='_blank' href='https://en.wikipedia.org/wiki/Bioinformatics'>bioinformatics</a>.
      </p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
